* {
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

.box {
    width: 100%;
    border-top: 1px solid #d0d0d0;
}

.yemei {
    width: 100%;
    height: 170px;
    background: #ffffff;
}

.yemei span {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    color: #291618;
    padding-top: 40px;
}

.yemei ul {
    width: 100%;
    text-align: center;
    line-height: 1em;
    padding-top: 40px;
    color: #b3ad9f;
}

.ul1 li.active {
    border-bottom: 3px solid #fd5238;
    color: #fc532c;
}

.yemei ul li {
    width: 100px;
    padding: 5px;
    padding-bottom: 10px;
}

.neir {
    width: 100vw;
    background: #f7f7f7;
}

.neir-box {
    margin: 0 auto;
    width: 1200px;
    padding-top: 20px;
}


/* zuixin */

.zuixin {
    display: block;
}

.zuixin-span:hover,
.zuire-span:hover {
    cursor: pointer;
    transform: translate(3px, -3px);
    opacity: 0.7;
}

.zuixin .zuixin-span {
    display: inline-block;
    width: 220px;
    height: 230px;
    border-radius: 8px;
    font-size: 14px;
    margin: 20px 37px;
    background-color: white;
}

.zuixin-span img {
    border-radius: 8px 8px 0 0;
    width: 220px;
    height: 131px;
}

.zuixin-span a img {
    width: 13px;
    height: 12px;
}

.zuixin-span a {
    float: right;
    /* margin-top: 28px;
    margin-right: 3px; */
}

.zuixin-span .a {
    display: inline-block;
    margin-top: 28px;
    margin-left: 170px;
}

.zuixin .zt {
    display: inline-block;
    height: 37px;
}

.span1 img {
    width: 100%;
    height: 13px;
}


/* zuire */

.zuier {
    display: none;
}

.zuire-span {
    display: inline-block;
    width: 220px;
    height: 230px;
    border-radius: 8px;
    font-size: 14px;
    /* border: 1px solid#ccc; */
    margin: 20px 37px;
    background-color: white;
}

.zuire-span img {
    border-radius: 8px 8px 0 0;
    width: 220px;
    height: 131px;
}

.zuire-span a img {
    width: 13px;
    height: 12px;
}

.zuire-span a {
    float: right;
}

.zuire-span .a {
    display: inline-block;
    margin-top: 28px;
    margin-left: 170px;
}

.zuire .zt {
    display: inline-block;
    height: 37px;
}

.span1 img {
    width: 100%;
    height: 13px;
}


/* 点击加载 */

.jiaz {
    width: 100vw;
}

.jiaz div {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #ff3559;
    padding: 80px 0;
}