.content {
  width: 1000px;
  margin: 20px auto;
  overflow: hidden;
}
.content .content-left {
  float: left;
  width: 270px;
  height: 320px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: lightgrey;
}
.content .content-left span {
  display: block;
  width: 100px;
  padding: 30px 120px 5px 0px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
.content .content-left h4 {
  margin: 10px 20px;
  cursor: pointer;
}
.content .content-left h4:hover {
  color: pink;
}
.content .content-left li {
  height: 30px;
  cursor: pointer;
  padding-left: 40px;
}
.content .content-left li:hover {
  color: orange;
}
.content .content-right {
  float: right;
  width: 700px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: lightgray;
}
.content .content-right span {
  display: block;
  width: 300px;
  padding: 30px 300px 5px 0px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
.content .content-right h3 {
  margin: 20px 30px;
}
.content .content-right h4 {
  margin: 20px;
}
.content .content-right ul {
  margin: 30px 30px;
}
