#banner {
    width: 100%;
    height: 300px;
    background: url(images/original.jpg) no-repeat;
    background-position: -300px;
}

#banner .sq {
    position: relative;
    width: 1920px;
    height: 300px;
    margin: 0 auto;
    background: url(../img/original.jpg);
}

#banner .sq .right {
    position: absolute;
    top: 60px;
    right: 460px;
    width: 310px;
    height: 240px;
    text-align: right;
    animation: zhuan .5s linear both;
}

@keyframes zhuan {
    0% {
        opacity: 0;
        transform: translate(265px, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

.right h1 {
    font-size: 30px;
    color: white;
    line-height: 50px;
}

.right span {
    display: inline-block;
    font-size: 12px;
    color: white;
    line-height: 20px;
    float: right;
    margin-left: 10px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.right a {
    font-size: 14px;
    color: white;
    line-height: 30px;
    float: right;
    margin-top: 10px;
}

.right .ljsq {
    font-size: 16px;
    color: #F7FFFF;
    float: right;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: red;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

.reports_select {
    width: 1200px;
    font-size: 15px;
    margin: 0 auto;
}

.reports_select ul li {
    width: 250px;
    padding: 10px 20px;
    background-color: white;
}

.reports_select img {
    width: 300px;
    border-radius: 8px;
}

.reports_pl {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.reports_pl img {
    width: 20px;
    height: 20px;
}