* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.box {
    position: relative;
    /* border: 1px solid gray; */
    width: 1400px;
    /* height: 100%; */
}

.header {
    width: 100px;
    height: 75px;
    background-color: white;
}

#title {
    position: absolute;
    height: 75px;
    top: 10px;
    left: 480px;
}

.logo img {
    margin-left: 300px;
    margin-top: 10px;
    height: 50px;
}

#title li {
    float: left;
    width: 100px;
    height: 75px;
    line-height: 50px;
    color: black;
}

#title li:hover {
    color: red;
}

.search {
    position: absolute;
    top: 25px;
    right: 290px;
}

.header button {
    position: absolute;
    top: 20px;
    right: 210px;
    padding: 5px 8px;
    font-size: 16px;
    color: red;
    outline: none;
}

.sec-floor img {
    width: 1400px;
}

.good {
    z-index: 100;
    position: absolute;
    top: 100px;
    right: 200px;
    font-size: 28px;
    color: white;
}

.sec-floor span:first-of-type {
    position: absolute;
    top: 155px;
    right: 320px;
    padding: 3px 5px;
    background-color: aliceblue;
    opacity: 0.5;
}

.sec-floor span:nth-of-type(2) {
    position: absolute;
    top: 155px;
    right: 255px;
    padding: 3px 5px;
    background-color: aliceblue;
    opacity: 0.5;
}

.sec-floor span:nth-of-type(3) {
    position: absolute;
    top: 155px;
    right: 200px;
    padding: 3px 5px;
    background-color: aliceblue;
    opacity: 0.5;
}

.timer {
    position: absolute;
    top: 195px;
    right: 200px;
    font-size: 14px;
    color: white;
}

.sec-floor button {
    position: absolute;
    top: 230px;
    right: 200px;
    padding: 5px 55px;
    font-size: 20px;
    color: white;
    background-color: red;
    outline-style: none;
    cursor: pointer;
}