* {
    box-sizing: border-box;
}


/* 顶部大图 */

#banner {
    position: relative;
    width: 100%;
    height: 300px;
    background: url(images/original.jpg) no-repeat;
    background-position: -300px;
}

#banner .sq {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1000px;
    margin: 0 auto;
}

#banner .Img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#banner .sq .right {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 310px;
    text-align: right;
    animation: zhuan .5s linear both;
}

@keyframes zhuan {
    0% {
        opacity: 0;
        transform: translate(265px, -100px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

.right h1 {
    font-size: 30px;
    color: white;
    line-height: 50px;
}

.right span {
    display: inline-block;
    font-size: 12px;
    color: white;
    line-height: 20px;
    float: right;
    margin-left: 10px;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.right a {
    font-size: 14px;
    color: white;
    line-height: 30px;
    float: right;
    margin-top: 10px;
}

.right .ljsq {
    font-size: 16px;
    color: #F7FFFF;
    float: right;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: red;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bolder;
}


/* 热门试用 */

.hot_box {
    width: 100%;
    height: 380px;
    background: #fff;
}

.hot_box .hot_car {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding: 20px 0;
}

.hot_car .hot_prev {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.hot_car .hot_next {
    position: absolute;
    top: 50%;
    left: 1040px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.hot_text {
    padding-bottom: 20px;
}

.swiper-container {
    width: 1000px;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    width: 1000px;
    height: 292px;
    overflow: hidden;
}

.silders {
    position: absolute;
    left: 1px;
    top: 0;
    width: 1040px;
    height: 292px;
}

.silders li {
    position: relative;
    float: left;
    width: 220px;
    height: 290px;
    margin-right: 38px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    overflow: hidden;
}

.silders li:last-child {
    margin-right: 2px;
}

.silders_text {
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
}

.silders_text h3 {
    font-size: 15px;
    line-height: 1.5em;
}

.silders_text a {
    font-size: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 4px 10px;
    color: tomato;
}

.silders_text div:last-child a {
    font-size: 15px;
    border: 0;
}

.silders_text.active a {
    border: 1px solid yellowgreen;
    color: yellowgreen;
}

.silders_text span {
    display: inline-block;
    font-size: 15px;
    color: tomato;
    margin-top: 5px;
}

.silders_top {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 5px 10px;
    background: orangered;
    color: #fff;
    border-radius: 0 0 0 5px;
}

.silders_top.active {
    background: #FFFFD6;
    color: goldenrod;
}


/* 报告精选 */

.reports_select {
    width: 1200px;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 20px;
}

.reports_select ul li {
    width: 250px;
    height: 270px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    vertical-align: top;
    background-color: white;
}

.reports_select img {
    width: 250px;
    border-radius: 8px 8px 0 0;
}

.reports_select .reports_t {
    display: inline-block;
    width: 225px;
    margin: 0 auto;
    padding: 0px 10px;
    line-height: 0.5em;
    line-height: 30px;
}

.reports_pl {
    display: inline-block;
    width: 30px;
    height: 20px;
    float: right;
}

ul li .reports_pl img {
    width: 20px;
    height: 20px;
    vertical-align: auto;
}

.r_s1 {
    padding: 15px 10px;
    height: 30px;
    color: #CCCCCC;
}

h4 {
    padding: 10px 25px;
    font-size: 18px;
}


/* 精选导购 */

.guide {
    width: 1200px;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.guide ul li {
    width: 250px;
    height: 270px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    vertical-align: top;
    background-color: white;
}

.guide img {
    width: 250px;
    border-radius: 8px 8px 0 0;
}


/* 酷玩 */

.coldplay {
    width: 1200px;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 20px;
}

.coldplay ul li {
    width: 250px;
    height: 270px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    vertical-align: top;
    background-color: white;
}

.coldplay img {
    width: 250px;
    border-radius: 8px 8px 0 0;
}

.jz {
    font-size: 18px;
    width: 120px;
    padding: 50px 0;
    color: orangered;
    margin: 0 auto;
    cursor: pointer;
}